@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  --white: #fff;
  --black: #000;
  --dark: #111827;
  --dark-alternative: #1f2937;
  --light: #fff;
  --light-alternative: #e5e7eb;
  --primary: #eab308;
  --orange: #ffbf00;
  --dark-orange: #552f00;
  --light-orange: #fff2c9;
  --tag-red: #fb325a;
  --tag-orange: #ff764e;
  --tag-violet: #4f3051;
  --tag-green: #46dfc3;
  --tag-blue: #111827;


}


body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    background-color:var(--light);
}
html.dark{
  body{
    background-color: var(--dark);
    color: var(--light);
  }
}
header{
  height: 92px;
}
.welcome{
  min-height: calc(100vh - 92px);
}
nav{
  text-transform: uppercase;
  font-size: 1rem;
}
main{
  a:not(.btn){
    color: var(--primary);
    text-decoration: none;
  }
  a:not(.btn):hover{
    text-decoration: underline;
  }
}
a.btn{
  margin: 1rem 0 3rem;
  display: inline-block;
}
#mobileNav{
  background-color: var(--light);
  color: var(--dark);
  letter-spacing: 0.05rem;
}
#logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
  text-transform: none;
}
hr{
  border: 0;
  border-bottom: 1px solid var(--light-alternative);
}
html.dark{
  #mobileNav{
    background-color: var(--dark);
    color: var(--light);
  }
  #logo{
    color: var(--light);
  }
  hr{
    border-bottom: 1px solid var(--dark-alternative);
  }
}
h1,h2{
  font-size: 4rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blogitem h1{
  line-height: 1.2;
}
.blogitem h2{
  margin-top: 4rem;
  font-size: 2rem;
  line-height: 1.2;
}
h3{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blogitem h3{
  font-size: 1.2rem;
  margin-top: 2.4rem;
}
h4{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dark h4 a{
  color: var(--light) !important;
}
h4 a{
  color: var(--dark) !important;
}
p{
  margin-bottom: 1rem;
}
.photogallery{
  margin: -0.5rem;
}
.photogallery > div{
  margin: 0.5rem;
}
.photogallery img{
  height: 100%;
  width: 100%;
}
.photos .photoitem{
  border-bottom: 1px solid var(--light-alternative);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.portfolioitem img{
  padding: 50px 50px 0 50px;
  border-radius: 10px 10px 0 0;
}
.portfolioitem h4 a{
  color: var(--dark);
}
.dark .portfolioitem h4 a{
  color: var(--light);
} 
footer{
  background-color: var(--dark);
  color: var(--light);
  padding: 1rem;
}
.bottomNav{
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
}
.bottomNav-prev,
.bottomNav-back,
.bottomNav-next{
  a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100px;
    font-size: 14px;
    svg{
      margin-right: 10px;
      height: 100px;
      width: 30px;
    }
  }
}
.bottomNav-back a svg{
  position: relative;
  top: -2px;
  width: 18px;
  margin-right: 5px;
}
.bottomNav-next a svg{
  position: relative;
  top: -10px;
  margin-left: 10px;
}
@media screen and (max-width: 992px) {
  .portfolioitem img{
    padding: 20px 20px 0 20px;
  }
}
@media screen and (max-width: 768px){
  h1,h2{
    font-size: 3rem;
  }
  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.25rem;
  }
}
  
@media screen and (max-width: 576px){
  #logo{
    font-size: 1.2rem;
  }
  h1,h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.25rem;
  }
  h4{
    font-size: 1rem;
  }
  
}
code[class*=language-], pre[class*=language-] {
  font-feature-settings: normal;
  color: var(--dark);
  text-shadow: 0 1px var(--white);
  font-family: Fira Code,Menlo,Consolas,Monaco,andale mono,ubuntu mono,monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-variant-ligatures: none;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  line-height: 1.8;
}
pre[class*=language-]{
  margin: 20px 0 30px;
  display: block;
  border-radius: 10px;
  position: relative;
}
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url{  
  background-color: transparent;
}

.command-line-prompt {
  background: #1b1b1b !important;
}

.command-line-prompt code{
  color: var(--white) !important;
  text-shadow: none !important;
}
pre[rel]:not([rel=""]):before {
  font-family: "Poppins",Sans-Serif;
  font-style: normal;
  font-size: .5rem;
  content: attr(rel);
  color: var(--white);
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0;
  color: var(--primary) !important;
  text-shadow: none !important;
}
ol{
  list-style: decimal;
  margin: 5px;
  padding: 20px 10px;
}
ol li{
  margin-bottom: 40px;
}
.technote{
  font-size: .8rem;
  position: relative;
  margin: 0 0 1.5rem;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background: var(--light-alternative);
  color: var(--dark-alternative);
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem 1rem 1rem 4.5rem;
}
.technote:before{
  content: "";
  background-image: url("../public/images/tipicon.png");
  background-color: var(--dark-alternative);
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  width: 50px;
  font-style: italic;
  font-weight: 700;
  padding: 0.88rem 1rem;
  margin-right: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: grid;
  place-items: center;
}
.featured_media{
  border-radius: 5px;
}
.active{
  color: var(--primary);
}
.date{
  font-size: .7rem;
  margin-bottom: 1rem;
}
.tags{
  position: absolute;
  right: 0;
  top: 0;
  .tag{
    margin-right: 5px;
    font-size: 0.6em;
    background-color: var(--light-alternative);
    border-radius: 2px;
    padding: 4px 6px;
    color: var(--dark-alternative);
  }
  .tag.uxui{
    background-color: var(--tag-blue);
    color: var(--white);
  }
  .tag.react{
    background-color: var(--tag-violet);
    color: var(--white);
  }
}